







<form [formGroup]="form" (ngSubmit)="save($event)">

    <div formGroupName="fullName">
        <p> name: {{nameField.valid}}</p>
        <input 
            [class.is-valid]="nameField.touched && nameField.valid"
            [class.is-invalid]="nameField.touched && nameField.invalid"
            type="text"
            formControlName="name"/>
        <!-- {{nameField.valid}} {{nameField.touched}} -->
        <!-- <code>
            <pre>{{nameField | json}}</pre>
        </code>-->
        <img *ngIf="nameField.valid===true else other_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/20px-Yes_Check_Circle.svg.png" alt=""> 
        <ng-template #other_image>
            <img width="18px" src="https://cdn.pixabay.com/photo/2012/04/12/20/12/x-30465_960_720.png" alt=""> 
        </ng-template>
    
        <button (click)="getNameValue()" [disabled]="nameField.invalid" >consolog</button>
    
        <div class="message" [class.active]="nameField.touched && nameField.invalid">
            <p>
                <strong *ngIf="nameField.hasError('required')">
                    Este campo es requerido
                </strong>
            </p>
            <p>
                <strong *ngIf=" nameField.hasError('pattern')">
                    Caracteres invalidos
                </strong>
            </p>
        </div>

        <input 
            [class.is-valid]="lastField.touched && lastField.valid"
            [class.is-invalid]="lastField.touched && lastField.invalid"
            type="text"
            formControlName="last"/>
        <div class="message" [class.active]="lastField.touched && lastField.invalid">
            <p>
                <strong *ngIf="lastField.hasError('required')">
                    Este campo es requerido
                </strong>
            </p>
            <p>
                <strong *ngIf=" lastField.hasError('pattern')">
                    Caracteres invalidos
                </strong>
            </p>
        </div>

        <p *ngIf="nameField.valid && lastField.valid">
            {{nameField.value}} {{lastField.value}} 
        </p>
    </div>

    

    <p>
        Email: {{emailField.value}}
        <input type="email"   formControlName="email">
    </p>

    <div class="message" [class.active]="emailField.touched && emailField.invalid">
        <p>
            <strong *ngIf="emailField.hasError('required')">
                Este campo es requerido
            </strong>
        </p>
        <p>
            <strong *ngIf=" emailField.hasError('email')">
                email no valido
            </strong>
        </p>
    </div>



    <p>
        tel: {{phoneField.value}}
        <input type="tel" formControlName="Phone">
    </p>
    <p>
        Phone: {{colorField.value}}
        <input type="color" formControlName="Phone">
    </p>
    <p>
        Date: {{dateField.value}}
        <input type="date" formControlName="date">
    </p>
    <p>
        Number: {{numberField.value}}
        <input type="number" formControlName="number">
    </p>
    <p>
        Number: {{numberField.value}}
        <input type="" formControlName="email">
    </p>
    <p>
        Category: {{categoryField.value}}
         <select formControlName="category">
            <option value="category-1" >category 1</option>
            <option value="category-2">category 2</option>
            <option value="category-3">category 3</option>
        </select> 
    </p>
    <p>
        Tags: {{tagField.value}}
         <select formControlName="tag" multiple>
            <option value="tag-1" >tag 1</option>
            <option value="tag-2">tag 2</option>
            <option value="tag-3">tag 3</option>
        </select> 
    </p>



    <p>
        Gender: {{genderField.value}}
        <!-- <mat-radio-button value="value">Option</mat-radio-button> -->
        <label for="">
            <input  name="gender" type="radio" value="m"formControlName="gender">    
            Male
        </label>
        <label for="">
        <input name="gender" type="radio" value="f" formControlName="gender">    
        Female  
        </label>
    
        <label for="">
        <input name="gender"type="radio" value="o" formControlName="gender">    
        Other  
        </label>
    </p>
    
    <p>
        zone: {{zoneField.value}}
        <!-- <mat-radio-button value="value">Option</mat-radio-button> -->
        <label for="">
            <input name="zone" type="radio" value="zone 1" formControlName="zone">    
            Zone 1
        </label>
        <label for="">
            <input name="zone" type="radio" value="zone 2" formControlName="zone">    
            Zone 2 
        </label>
        <label for="">
            <input name="zone"type="radio" value="zone 3" formControlName="zone">    
            Zone 3
        </label>
    </p>
    <p>
        <button 
        
         type="submit">asdasda

        </button>
    </p>

</form>



<p>basic-form works!ssss
<input 
    [class.is-valid]="nameField.touched && nameField.valid"
    [class.is-invalid]="nameField.touched && nameField.invalid"
    type="text"
    [formControl]="nameField">
 <!-- {{nameField.valid}} {{nameField.touched}} -->
<!-- <code>
    <pre>{{nameField | json}}</pre>
</code>-->
<img *ngIf="nameField.valid===true else other_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Yes_Check_Circle.svg/20px-Yes_Check_Circle.svg.png" alt=""> 
<ng-template #other_image>
    <img width="18px" src="https://cdn.pixabay.com/photo/2012/04/12/20/12/x-30465_960_720.png" alt=""> 
</ng-template>

 <button (click)="getNameValue()" [disabled]="nameField.invalid" >consolog</button>
</p>

<div class="message" [class.active]="nameField.touched && nameField.invalid">
<p>
    <strong *ngIf="nameField.touched && nameField.hasError('required')" >Este campo es requerido</strong>
</p>
<p>
    <strong *ngIf="nameField.touched && nameField.hasError('maxlength')" >maximo dos caracteres</strong>
</p>
</div>

<p>
    Email: {{emailField.value}}
    <input type="email" [formControl]="emailField">
</p>

<p>
    tel: {{phoneField.value}}
    <input type="tel" [formControl]="phoneField">
</p>
<p>
    Phone: {{colorField.value}}
    <input type="color" [formControl]="colorField">
</p>
<p>
    Date: {{dateField.value}}
    <input type="date" [formControl]="dateField">
</p>
<p>
    Number: {{numberField.value}}
    <input type="number" [formControl]="numberField">
</p>
<p>
    Number: {{numberField.value}}
    <input type="" [formControl]="numberField">
</p>
<p>
    Category: {{categoryField.value}}
     <select [formControl]="categoryField">
        <option value="category-1" >category 1</option>
        <option value="category-2">category 2</option>
        <option value="category-3">category 3</option>
    </select> 
</p>
<p>
    Tags: {{tagField.value}}
     <select [formControl]="tagField" multiple>
        <option value="tag-1" >tag 1</option>
        <option value="tag-2">tag 2</option>
        <option value="tag-3">tag 3</option>
    </select> 
</p>

<!-- <p>
    Number: {{agreefield.value}}
    <input type="checkbox" [formControl]="agreefield">    
</p> -->

<p>
    Gender: {{genderField.value}}
    <!-- <mat-radio-button value="value">Option</mat-radio-button> -->
    <label for="">
        <input  name="gender" type="radio" value="m" [formControl]="genderField">    
        Male
    </label>
    <label for="">
    <input name="gender" type="radio" value="f" [formControl]="genderField">    
    Female  
    </label>

    <label for="">
    <input name="gender"type="radio" value="o" [formControl]="genderField">    
    Other  
    </label>
</p>

<p>
    zone: {{zoneField.value}}
    <!-- <mat-radio-button value="value">Option</mat-radio-button> -->
    <label for="">
        <input name="zone" type="radio" value="zone 1" [formControl]="zoneField">    
        Zone 1
    </label>
    <label for="">
        <input name="zone" type="radio" value="zone 2" [formControl]="zoneField">    
        Zone 2 
    </label>
    <label for="">
        <input name="zone"type="radio" value="zone 3" [formControl]="zoneField">    
        Zone 3
    </label>
</p>

<p>
    Preferences: {{preferencesField.value}}
    <input type="checkbox" value="music" [formControl]="preferencesField"> Listen music
    <input type="checkbox" value="game" [formControl]="preferencesField"> Game
    <input type="checkbox" value="guitar" [formControl]="preferencesField"> Play guitar
</p>
